

body {
	background-color: #FFF9EC;
}

html {
  scroll-behavior: smooth;
}


.cursor {
	position: fixed;
	z-index: 10;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
  }
  
  .cursor p {
	position: absolute;
	z-index: 1;
	transform: translate(-50%, -50%);
	font-family: 'Sud';
	font-size: 40px;
	color: var(--white);
	text-align: center;
	white-space: nowrap;
  }

  
  .cursor,
  .cursor * {
	pointer-events: none;
  }
  
  .cursor .circle {
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 100%;
	transform-origin: center;
	transition: all 0.3s ease-in-out;
  }
  
  .circle.circle-01 {
	transform: translate(-50%, -50%) scale(0.1);
	background-color: #e71d36;
  }

  



.over-header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.2% 0;

	p {
		font-family: 'Geist';
		font-weight: lighter;
        letter-spacing: 1px;
	}
}

header {
	height: 92vh;
	padding: 16px 2% 0; 
}

.full-wrapper h1 {
	font-size: 5vw;
	font-family: 'Gerald';
	margin: -0.4em 0 0 0.3rem;
	overflow: hidden;
	color:#e71d36;
	
}

.menu {
    margin: 16px 6px 0 0;
	display: flex;
    flex-flow: column;
    align-items: end;

	.menu-line1 {
		width: 0;
		height: 2px;
		background-color: #171616;
		border-radius: 2px;
		margin: 0 0 6px 0;
	}
	.menu-line2 {
		width: 0;
		height: 2px;
		background-color: #171616;
		border-radius: 2px;
		margin: 0 0 6px 0;
	}
	.menu-line3 {
		width: 0;
		height: 2px;
		background-color: #171616;
		border-radius: 2px;
		margin: 0 0 4px 0;
	}
}



.loading-imgs {

	img {
		position: absolute;
	}
	.chair1 {
		width: 300px;
		top: 8%;
		left: 26%;
	}
	.chair2 {
		width: 290px;
		top: 28%;
		left: 200px;
	}
	.chair3 {
		width: 250px;
		top: 10%;
		right: 5%;
	}
	.chair4 {
		width: 400px;
        top: 11%;
        right: 30%;
		
	}
	.chair5 {
		width: 325px;
		top: 17%;
		right: 23%;
	}
	.chair6 {
		width: 220px;
		top: 14%;
        left: 7%;
	}
	.chair7 {
		width: 95%;
		position: absolute;
		filter: grayscale(0.1) blur(0.8px) contrast(1.3) sepia(0.3);
		box-shadow: 2px 2px 4px #434039;
		height: 73vh;
        object-fit: cover;
		left: 50%;
   		transform: translate(-50%, 0%);
	}
}

.wrapper {
	padding: 0 4%;
	.texto-incial {
		padding: 32px 0 48px;
		p {
			font-family: 'Geist';
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 48px;
		}
	}
}

